@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 67% 92%;
    --foreground: 200 15% 25%;
    --card: 180 50% 96%;
    --card-foreground: 200 15% 25%;
    --popover: 180 50% 96%;
    --popover-foreground: 200 15% 25%;
    --primary: 180 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 20% 88%;
    --secondary-foreground: 180 100% 25%;
    --muted: 180 20% 88%;
    --muted-foreground: 200 10% 45%;
    --accent: 39 100% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 30% 98%;
    --ring: 180 100% 35%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 200 15% 15%;
    --foreground: 180 20% 88%;
    --card: 200 15% 18%;
    --card-foreground: 180 20% 88%;
    --popover: 200 15% 18%;
    --popover-foreground: 180 20% 88%;
    --primary: 180 80% 65%;
    --primary-foreground: 180 100% 15%;
    --secondary: 180 15% 30%;
    --secondary-foreground: 180 20% 88%;
    --muted: 180 15% 30%;
    --muted-foreground: 180 10% 60%;
    --accent: 39 100% 55%;
    --accent-foreground: 39 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 30%;
    --input: 180 15% 30%;
    --ring: 180 80% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
